<div class="user-details">
  <mat-list>
    <mat-list-item class="u-text-align-center">
      <span class="mat-h2">Detalhes do Usuário</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Nome: </span>
      <span class="mat-h3">Fulano da silva</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Email: </span>
      <span class="mat-h3">fulano&#64;example.com</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Telefone: </span>
      <span class="mat-h3">(11) 998289356</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Endereço: </span>
      <span class="mat-h3">Rua das Flores, 42, São Paulo - SP</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Status: </span>
      <span class="mat-h3">Ativo</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Função: </span>
      <span class="mat-h3">Desenvolvedor</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Data de Cadastro: </span>
      <span class="mat-h3">12/12/2024</span>
    </mat-list-item>
  </mat-list>

</div>
