<div class="container">
  <div class="left-container">
    <div class="top-div">
      <!--Conteudo da div superior-->
      <app-filter (onFilter)="onFilter($event)"></app-filter>
    </div>
    <div class="main-left-div">
      <!--Conteudo da div da esquerda-->
      <app-users-list (userSelected)="onUserSelected($event)" [usersList]="usersListFiltered"></app-users-list>
    </div>
  </div>
  <div class="right-div">
    <!--Conteudo da div da direita-->
    <app-user-details *ngIf="showUserDetails" [user]="userSelected"></app-user-details>
  </div>
</div>
